spring:
  application:
    name: Config-default
eureka: #Commented it out since these will be coming from ConfigServer
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
